# This workflow will install Python dependencies and the latest RC of pysat from test pypi.
# All unit tests for pysatNASA will be run using the pysat RC.
# This test should be manually run before a pysat RC is officially approved and versioned.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test with latest pysat RC

on: [workflow_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.10"]

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Reinstall fortran on MacOS
      if: ${{ matrix.os == 'macos-latest' }}
      run: brew reinstall gcc

    - name: Install pysat RC
      run: pip install --no-deps -i https://test.pypi.org/simple/ pysat

    - name: Install standard dependencies
      run: |
        pip install -r requirements.txt
        pip install pysatCDF --no-binary=pysatCDF
        pip install -r test_requirements.txt

    - name: Set up pysat
      run: |
        mkdir pysatData
        python -c "import pysat; pysat.params['data_dirs'] = 'pysatData'"

    - name: Test with pytest
      run: pytest -vs --cov=pysatNASA/

    - name: Publish results to coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: coveralls --rcfile=setup.cfg --service=github
